<!-- Email Item -->
<li class="emailList__item mdl-list__item mdl-list__item--three-line" tabindex="0">
  <span class="mdl-list__item-primary-content">
    <a class="emailList__itemLink">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>Bryan Cranston</span>
      <span class="emailList__itemText mdl-list__item-text-body">
        Bryan Cranston played the role of Walter in Breaking Bad. He is also known for playing Hal
        in Malcom in the Middle.
      </span>
    </a>
  </span>
  <span class="mdl-list__item-secondary-content">
    <a class="emailList__itemLink" tabindex="-1">
      <span class="emailList__itemDate">
        10/08/2018 ás 09:58
      </span>
    </a>
  </span>

  <span class="emailList__itemMenu">
    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
      <i class="material-icons">delete</i>
    </button>
  </span>
</li><!-- ./Email Item -->
